<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven.luanbin.archetype.mapper.ChapterMapper">

    <sql id="base_columns">
        id ,title ,url ,encode ,type ,tag ,elements
    </sql>

    <select id="getChapterById" resultType="com.maven.luanbin.archetype.model.vo.ChapterVo">
        select
        <include refid="base_columns"/>
        FROM novel_chapter
        WHERE id = #{id}
    </select>

    <select id="getAllChapter" resultType="com.maven.luanbin.archetype.model.vo.ChapterVo">
        select
        <include refid="base_columns"/>
        FROM novel_chapter
    </select>

    <insert id="addChapter" parameterType="com.maven.luanbin.archetype.model.vo.ChapterVo"
            useGeneratedKeys="true" keyProperty="chapterVo.id">
        INSERT INTO novel_chapter
        (title ,url ,encode ,type ,tag ,elements)
        VALUES
        (#{chapterVo.title}, #{chapterVo.url}, #{chapterVo.encode}, #{chapterVo.type}, #{chapterVo.tag}, #{chapterVo.elements})
    </insert>
</mapper>