<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven.luanbin.archetype.mapper.ClassroomExtMapper">

    <select id="getClassroomModels" resultMap="classroomBeanMap">
        select
        cl.id , cl.name , cl.address,
        st.id as st_id ,st.name as st_name ,st.age as st_age ,st.classroom_id as st_classroom_id

        from  classroom as cl
        left join student as st on cl.id= st.classroom_id

        where 1=1
        <if test="classroomId != null">
            and cl.id=#{classroomId}
        </if>

        <if test="className != null">
            and cl.name=#{className}
        </if>

        <if test="studentName != null">
            and st.name=#{studentName}
        </if>

        <if test="studentAge != null">
            and st.age=#{studentAge}
        </if>
    </select>
    <resultMap id="classroomBeanMap" type="com.maven.luanbin.archetype.model.ClassroomModel" autoMapping="true" >
        <id property="id" column="id" />
        <collection property="students" ofType="com.maven.luanbin.archetype.domain.Student" columnPrefix="st_" autoMapping="true">
            <id property="id" column="id"/>
        </collection>
    </resultMap>
</mapper>