<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven.luanbin.archetype.mapper.ClueHistoryMappper">

    <sql id="base_columns">
        id, clue_id, user_name, status, detail, create_time, modify_time
    </sql>

    <resultMap id="BaseResultMap" type="com.maven.luanbin.archetype.dataobject.ClueHistoryDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="clue_id" property="clueId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <insert id="insert" parameterType="com.maven.luanbin.archetype.dataobject.ClueHistoryDo">
        insert into clue_history
        (
          clue_id, user_name, status, detail, create_time, modify_time
        )
        VALUES
        (
          #{clueHistoryDo.clueId}, #{clueHistoryDo.userName}, #{clueHistoryDo.status}, #{clueHistoryDo.detail}, #{clueHistoryDo.createTime}, #{clueHistoryDo.modifyTime}
        )
    </insert>

    <select id="getClueHistoryDoByClueId" resultMap="BaseResultMap">
        select
        <include refid="base_columns"/>
        FROM clue_history
        WHERE clue_id = #{clueId}
        order by create_time desc
    </select>


</mapper>