<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven.luanbin.archetype.mapper.ClueMappper">

    <sql id="base_columns">
        id, project_id, project_channel_id, status, create_time
    </sql>

    <resultMap id="BaseResultMap" type="com.maven.luanbin.archetype.dataobject.ClueDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="project_channel_id" property="projectChannelId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <insert id="insert" parameterType="com.maven.luanbin.archetype.dataobject.ClueDo"
            useGeneratedKeys="true" keyProperty="clueDo.id">
        insert into clue
        (
          project_id, project_channel_id, status, create_time
        )
        VALUES
        (
          #{clueDo.projectId}, #{clueDo.projectChannelId}, #{clueDo.status}, #{clueDo.createTime}
        )
    </insert>

    <select id="getClueDoByProjectId" resultMap="BaseResultMap">
        select
        <include refid="base_columns"/>
        FROM clue
        WHERE
        <if test="projectId != null">
            project_id = #{projectId}
        </if>
        <if test="channelId != null">
            and project_channel_id = #{channelId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by create_time desc
    </select>

    <update id="updateStatus" parameterType="java.lang.Integer">
        update clue set status = #{status} where id = #{clueId};
    </update>


    <select id="getClueDoByClueId" resultMap="BaseResultMap">
        select
        <include refid="base_columns"/>
        FROM clue
        WHERE id = #{clueId}
    </select>
</mapper>