<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven.luanbin.archetype.mapper.DetailMapper">

    <sql id="base_columns">
        id , chapter_id, encode ,type ,tag ,elements
    </sql>

    <select id="getDetailById" resultType="com.maven.luanbin.archetype.model.vo.DetailVo">
        select
        <include refid="base_columns"/>
        FROM chapter_detail
        WHERE id = #{id}
    </select>

    <insert id="addDetail" parameterType="com.maven.luanbin.archetype.model.vo.DetailVo">
        INSERT INTO chapter_detail
        (chapter_id, encode ,type ,tag ,elements)
        VALUES
        (#{detailVo.chapterId}, #{detailVo.encode}, #{detailVo.type}, #{detailVo.tag}, #{detailVo.elements})
    </insert>
</mapper>